.contenido{
    padding-top: 70px;
}
.list-group:active {
    color: aqua;
}
.pedidos5{
    background-color: #EE3A39;
    color: white;

}

.list-group input{
    width: 100%;
}


.categorias{
    background-color: #E57D24;
    color: white;
}

.affix {
    position: fixed;
}

.angular-google-map-container {
  height: 400px;
}



section.anchor{padding-top: 100px ,visibility: hidden;}

@media (max-width: 768px) {
    .affix {
        position: static;
    }
}
.button-fix{
  width: 28%;
}
.form-control.input-fix{
  width: 70%;
}
.primatyTitle{
  font-style: bold;
}
.secondaryTitle{
  font-style: oblique;
}
