.contenido{
    padding-top: 70px;
}
.list-group:active {
    color: aqua;
}
.pedidos5{
    background-color: #EE3A39;
    color: white;

}

.list-group input{
    width: 100%;
}


.categorias{
    background-color: #E57D24;
    color: white;
}

.affix {
    position: fixed;
}

.categoryLead {
    margin-bottom: 15px;
}

.thumbnail{
    cursor: pointer;
    background-color: #ECECEC;
}

.thumbnail:hover{
    background-color: #F5AB35;
    -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.infoPlate{
    padding: 10px 10px 10px 20px;
}

.infoPlate p {
    font-style: italic;
}

.addPlate,
.price{
    font-size: 17px;
}

.addPlate:hover{
    color: white;
}


.detallePedido{
    height: 250px;
    width: 350px;
    cursor: pointer;
}

.angular-google-map-container {
  height: 400px;
}

header .fa-trash {
    font-size: 18px;
    color: gray;
}

header .fa-trash:hover {
    color: red;
}

.scrollContainer {
    overflow-y: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    max-height: 250px;
}



.scrollContainer ul{
    padding-left: 0px;
    padding-top: 20px;
    border-top: solid 2px #eeeeee
}

.scrollContainer li{
    list-style: none;
}

.detallePedido header{
    margin-bottom: 10px;
}



.textPedido > *{
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 0px;
}

.plateName{
    font-size: 16px;
}

.plateAclaracion {
    font-style: italic;
}

.scrollContainer select{
    display: inline-block;
    width: 60px;
}

.modificacionPedido span{
    display: inline-block;
    margin-left: 10px;
}


section.anchor{padding-top: 100px ,visibility: hidden;}

@media (max-width: 768px) {
    .affix {
        position: static;
    }
}
.button-fix{
  width: 28%;
}
.form-control.input-fix{
  width: 70%;
}
.primatyTitle{
  font-style: bold;
}
.secondaryTitle{
  font-style: oblique;
}
.mapubi{
  margin-top: 10px;
}
