.contenido{
    padding-top: 70px;
}
.list-group:active {
    background-color: red;
    color: aqua;
}
.pedidos5{
    background-color: #EE3A39;
    color: white;

}
.categorias{
    background-color: #E57D24;
    color: white;
}

.affix {
    position: fixed;
}

.angular-google-map-container {
  height: 400px;
}



section.anchor{padding-top: 100px ,visibility: hidden;}

@media (max-width: 768px) {
    .affix {
        position: static;
    }
}
