.contenido{
    padding-top: 70px;
}
.list-group:active {
    color: aqua;
}
.pedidos5{
    background-color: #EE3A39;
    color: white;

}


.btn.btn-primary {
    background-color: #FB9833;
    border-color: #FB8F33;
}

.btn.btn-primary:hover {
    background-color: #FB8F33;
}

.btn.btn-primary:active {
    background-color: #E17A23;
}

.list-group input{
    width: 100%;
}


.categorias{
    background-color: #E57D24;
    color: white;
}

.affix {
    position: fixed;
}

.categoryLead {
    margin-bottom: 15px;
}

.thumbnail{
    cursor: pointer;
    background-color: #ECECEC;
}

.thumbnail:hover{
    background-color: #F5AB35;
    -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.infoPlate{
    padding: 10px 10px 10px 20px;
}

.infoPlate p {
    font-style: italic;
}

.addPlate,
.price{
    font-size: 17px;
}

.addPlate:hover{
    color: white;
}


.detallePedido{
    height: 250px;
    width: 350px;
    cursor: pointer;
}

.detallePedido footer {
    border-top: 2px dashed #ABB7B7;
}

.angular-google-map-container {
  height: 400px;
}

header .fa-trash {
    font-size: 18px;
    color: gray;
}

header .fa-trash:hover {
    color: red;
}

.scrollContainer {
    overflow-y: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}



.scrollContainer ul{
    padding-left: 0px;
    padding-top: 20px;
    border-top: solid 2px #ABB7B7;
}

.scrollContainer li{
    list-style: none;
}

.detallePedido header{
    margin-bottom: 10px;
}



.textPedido > *{
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 0px;
}

.plateName{
    font-size: 14px;
}

.plateName:hover {
    color: #FB9833;
    text-decoration: underline;
}

.plateAclaracion {
    font-style: italic;
    font-size: 12px;
}

.lineDetail {
    margin: 10px 0px 10px 0px;
    padding: 5px 5px 5px 15px;
}

.lineDetail:hover {
    background-color: #DADFE1;
}

.scrollContainer select{
    display: inline-block;
    width: 70px;
}

.modificacionPedido span{
    display: inline-block;
    margin-left: 8px;
}

.totalDetalle {
    text-align: right;
    padding: 10px 38px 15px 0px;
}

.fa.eliminarProd {
    color: firebrick;
    margin-left: 20px;
    font-size: 16px;
}

.emptyPedido {
    text-align: center;
    color: #8C8989;
    margin: 10px 10px;
}

.emptyPedido i {
    font-size: 55px;
    margin-bottom: 10px;
}

.emptyPedido p {
    margin-top: 5px;
}

.btns {
    text-align: center;
}

section.anchor{padding-top: 100px ,visibility: hidden;}

@media (max-width: 768px) {
    .affix {
        position: static;
    }
}
.button-fix{
  width: 28%;
}
.form-control.input-fix{
  width: 70%;
}
.primatyTitle{
  font-style: bold;
}
.secondaryTitle{
  font-style: oblique;
}
.mapubi{
  margin-top: 10px;
}
.rptubi{
  margin-top: 70px;
}
html, body {height: 100%;}
.main{
  overflow: auto;
  padding-bottom: 40px;
}
.footerClass {
  position: fixed;
  margin-top: -180px;
  height: 40px;
  clear: both;
  bottom: 0px;
  width: 100%;
  border-top: 3px solid #CF000F;
  background-color: #c33a2c;
  color: white;
}
.splitInline{
  margin-left: 15px;
}


<!-- modalmap -->
.pac-container{
    z-index: 1200 !important;
}

.angular-google-map{
    margin-top: 15px;
}

.nohover:hover{
    background-color: #f5f5f5;
}

.detalleEnviar{
    margin-top: 20px;
}

#abonaCon{
    display: inline-block;
    
}

.abonaLabel{
    line-height: 1.3;
}

.inlineP{
    display: inline-block;
    margin-right: 5px;
}

.infoEnvio .form-group{
    margin-top: 20px;
}

.infoEnvio .form-group .secondaryTitle{
    margin-top: 30px;
}

.groupito{
    margin-top: 10px;
}
/* Class for grid page*/

.Pumgrid{
    width: 100%;
    height: 100%;
}
.ui-grid-header-canvas{
    color:#F9690E;
}
.ui-grid-row-selected{
    color: white;
    background: #C13A2B;

}
.btnSltGrid{
    color: white;
    background-color: #C13A2B;
    padding: 7px 8px;
}
.btnSltGrid:hover,pressed{
    color:white;
}
.detalleGridIz{
    width: 210px;
    height: 40px;
    margin: auto;
    padding-left: 10px;
    padding-right: 0px;
}

.detalleGridDer{
    width: 220px;
    height: 40px;
    margin: auto;
    padding-left: 0;
    padding-right: 28px;
}
.headerDetails{
    color: #F9690E;
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid #e5e5e5;

}
.bodyDetails{
    text-align: center;
}
.InfoCadetes{
    font-size: 15px;
    border-collapse: separate;
    border-spacing: 14px 11px;
}
.crearRonda{
    margin-left: 32px;
    margin-top: 35px;
}
span#errorRonda{
    margin-left: -28px;
}

