<div class="container-fluid">
<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
    <div class="form-inline">
      <div class="form-group">
        <label for="año" class="text-danger">Año</label>
        <input type="number" name="año" value="2015">
      </div>
      <div class="form-group">
        <label for="negocio" class="text-danger">Negocio</label>
        <select class="form-control" name="negocios"> <!-- ng-repeat -->
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
      </div>
      <button type="submit" name="submit" class="btn btn-danger"><i class="fa fa-search"></i> Buscar</button>
    </div>
  </div>
</div>
<br>
  <div class="row">
    <div class="col-lg-6">
      <h3 class="text-danger text-center">Reportes por Temporadas</h3>
      <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="torta.data" chart-labels="torta.labels" chart-legend="true">
      </canvas>
    </div>
      <div class="col-lg-6">
        <h3 class="text-danger text-center">Reportes por Categorías</h3>
          <canvas id="bar" class="chart chart-bar"
          chart-data="bar.data" chart-labels="bar.labels" chart-series="bar.series">
        </canvas>
      </div>
    </div>
    <br>
    <div class="row">
      <h3 class="text-danger text-center">Ventas por Negocios</h3>
      <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-series="series"
          chart-click="onClick">
        </canvas>
      </div>
    </div>
  </div>
