<div class="container rptubi">
<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
    <div class="form-inline">
      <div class="form-group">
        <label for="año" class="text-danger">Año</label>
        <input type="number" name="año" ng-model="year"  id="yearSelector" min="2013"  max="2015">
      </div>
      <div class="form-group splitInline">
        <label for="negocio" class="text-danger">Negocio</label>
        <select class="form-control" name="negocios" id="negocioSelector" ng-model="business"> <!-- ng-repeat -->
          <option value="todos">Todos</option>
          <option value="La Mira">La Mira</option>
          <option value="La Caleta">La Caleta</option>
          <option value="Rocco">Rocco</option>
        </select>
      </div>
    </div>
  </div>
</div>
<br>
  <div class="row">
    <div class="col-lg-6">
      <h3 class="text-danger text-center">Reportes por Temporadas</h3>
      <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="torta.data" chart-labels="torta.labels" chart-legend="true">
      </canvas>
    </div>
      <div class="col-lg-6">
        <h3 class="text-danger text-center">Reportes por Categorías</h3>
          <canvas id="bar" class="chart chart-bar"
          chart-data="barra.data" chart-labels="barra.labels">
        </canvas>
      </div>
    </div>
    <br>
    <div class="row">
      <h3 class="text-danger text-center">Ventas por Negocios</h3>
      <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
        <canvas id="line" class="chart chart-line" chart-data="lineChart.data"
          chart-labels="lineChart.labels" chart-series="series"
          chart-click="onClick">
        </canvas>
      </div>
    </div>
  </div>
