    <div class="container-fluid">
        <div class="contenido">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <div class="sidebar affix">
                        <div class="list-group">
                            <span class="list-group-item categorias">Categorias</span>
                           <input class="list-group-item" type="text" placeholder="Buscar" ng-model="filtro">
                            <a ng-repeat="categoria in listaCategorias" href="" ng-click="setCategoria()"  class="list-group-item">
                                <i ng-class="isChecked(categoria.idCategoria)"></i> {{categoria.nombreCategoria}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6"> <!--  -->
                    <div class="row">
                        <div ng-repeat="negocio in listaNegocio |filter :filtro | negociosFiltrados:categoriaSeleccionada" class="col-md-4 col-xs-12">
                            <a href="/#/gestionarPedido/{{negocio.idNegocio}}">
                                <div class="thumbnail">
                                <img src="../resources/img/resto.png"/>
                                    <div class="row text-center">
                                        <div class="col-md-12 col-xs-12">
                                            <h4>{{negocio.nombreNegocio}}</h4>
                                            <h4>{{negocio.domicilioNegocio}}</h4>
                                            <h4>{{negocio.telefonoNegocio}}</h4>
                                        </div>

                                    </div>
                                </div>    
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3">
                    <div class="list-group">
                        <span href="#" class="list-group-item pedidos5">Ultimos 5 Pedidos</span>
                    </div>
                </div>
            </div>
        </div>
</div>
