<div class="container-fluid contenido">
  <form role="form">
              <div class="form-group">
                  <h1 class="primatyTitle">Hola [Username]</h1>
              </div>
              <div class="form-group">
                <h3 class="secondaryTitle">¿Esta es tu direccion?</h3>
                <div class="row">
                  <div class="col-lg-8 col-xs-8">
                    <label for="direccionPedido">Direccion</label>
                    <div class="form-inline">
                      <input type="text" class="form-control input-fix" id="direccionPedido">
                      <button class="btn btn-primary button-fix"><i class="fa fa-pencil"></i> Modificar</button>
                    </div>
                </div>
                </div>
              </div>

              <div class="form-group">
                <h3 class="secondaryTitle">¿Con cuanto abonás?</h3>
                <div class="row">
                  <div class="col-lg-4 col-sm-8">
                    <label for="abonaCon">Abona Con </label>
                    <input type="number" class="form-control input-fix" id="abonaCon">
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <label for="vuelto">Vuelto</label>
                    <span id="vuelto" >[vuelto]</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <h2 class="primatyTitle">Tiempo estimado: [Time] <i class="fa fa-clock-o"></i></h2>
              </div>
              <div class="form-group">
                <button class="btn btn-lg btn-primary"><i class="fa fa-paper-plane-o bounceOutRight animated"></i> Enviar</button>
              </div>
  </form>
</div>
