<div class="container-fluid">
    <div class="contenido">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2">
                <div class="sidebar affix">
                    <div class="list-group">
                        <span href="#" class="list-group-item categorias">Categorias</span>
                        <input class="list-group-item" type="text" placeholder="Buscar" ng-model="filtro">
                        <a ng-repeat="categoria in listaCategorias | orderBy: 'nombreCategoria'" class="list-group-item" ng-click="scrollTo(categoria.nombreCategoria)" href="">
                            <i class="fa fa-search"></i> 
                            {{categoria.nombreCategoria}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-lg-8">
                <div ng-repeat="categoria in listaCategorias | orderBy: 'nombreCategoria' | filter:filtro">
                    <section class="anchor" id="{{categoria.nombreCategoria}}">
                    </section>
                    <h1>{{categoria.nombreCategoria}}</h1>
                        <div class="row">
                            <div ng-repeat="plato in platosMenu | filter: {categoria : categoria.nombreCategoria} | filter:filtro" class="col-lg-4 col-md-4 col-xs-12">
                                <div class="thumbnail">
                                    <img src="../resources/img/resto.png"/>
                                    <div class="row text-center">
                                        <div class="col-md-12 col-xs-12">
                                            <h4>{{plato.nombrePlato}}</h4>
                                            <h4>{{plato.descPlato}}</h4>
                                            <h4>{{plato.coccionPlato}}</h4>
                                            <h4>${{plato.precioPlato}}</h4>
                                            <button ng-click="abrirModal(plato)" data-toggle="modal" data-target="#myModal">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-lg-2">
                <div class="col-md-2 col-sm-3 col-lg-2">
                    <div class="sidebar affix">
                        <div class="well">
                            <div class="text-center">
                                <h5>Pedido</h5>
                            </div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="detalle in listaDetallesPedido track by $index">
                                        {{detalle.nombrePlato}}  |   
                                        Cant:{{detalle.cantidadDetalle}} - {{detalle.subtotalDetalle}}
                                        <em>{{detalle.aclaracionDetalle}}</em>
                                    </li>
                                </ul>
                        </div>
                        <div class="btns">
                            <button class="btn btn-primary" ng-click="guardarPedido(listaDetallesPedido)">
                                <i class="fa fa-floppy-o"></i>
                                    Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Agregar Plato al pedido</h4>
          </div>
          <div class="modal-body">
            <h1>Detalle de Pedido</h1>
                <div class="row">
                  <div class="col-md-8 col-sm-12 col-lg-8">
                    <h2>Aclaración</h2>
                    <textarea class="form-control" ng-model="pedidoModal.aclaracionDetalle"></textarea>
                  </div>
                  <div class="col-md-4 col-sm-12 col-lg-4">
                    <h2>Cantidad</h2>
                    <select class="form-control" ng-model="pedidoModal.cantidadDetalle">
                        <option ng-repeat="n in cantidades">
                          {{n}}
                        </option>
                    </select>
                    <h3>Subtotal:</h3>
                    <h3>${{calcularSubtotal(pedidoModal)}}</h3>
                  </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" ng-click="agregarPlatoPedido(pedidoModal)">Agregar</button>
          </div>
        </div>
      </div>
    </div>
</div>

