<div class="container-fluid">
    <div class="contenido">
        <div class="row">
            
            <!--filtro de categorias -->
            <div class="col-xs-12 col-md-4 col-lg-2">
                <div class="sidebar affix">
                    <div class="list-group">
                        <span class="list-group-item categorias">Categorias</span>
                        <input class="list-group-item" type="text" placeholder="Buscar" ng-model="filtro">
                        <a ng-repeat="categoria in listaCategorias | orderBy: 'nombreCategoria'" class="list-group-item" ng-click="scrollTo(categoria.nombreCategoria)" href="">
                            <i class="fa fa-search"></i> 
                            {{categoria.nombreCategoria}}
                        </a>
                    </div>
                </div>
            </div>
            
            <!--locales-->
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div ng-repeat="categoria in listaCategorias | orderBy: 'nombreCategoria' | filter:filtro">
                    <section class="anchor" id="{{categoria.nombreCategoria}}">
                    </section>
                    <h1 class="categoryLead">{{categoria.nombreCategoria}}</h1>
                        <div class="row">
                            <div ng-repeat="plato in platosMenu | filter: {categoria : categoria.nombreCategoria} | filter:filtro" class="col-lg-6 col-md-6 col-xs-6">
                                <div class="thumbnail" ng-click="abrirModal(plato)" data-toggle="modal" data-target="#myModal">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8 col-lg-8">
                                            <div class="infoPlate">
                                                <h4>{{plato.nombrePlato}}</h4>
                                                <p>{{plato.descPlato}}</p>
                                                <i class="fa fa-clock-o"></i> {{plato.coccionPlato}} mins
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4 col-lg-4">
                                            <div class="infoPlate">
                                                <span class="price">${{plato.precioPlato}}</span>
                                                <i class="fa fa-plus-circle addPlate"></i>
                                            </div>
                                        </div>
<!--
                                    <div class="text-center">
                                            <h4>{{plato.nombrePlato}}</h4>
                                            <h4>{{plato.descPlato}}</h4>
                                            <h4>{{plato.coccionPlato}}</h4>
                                            <h4>${{plato.precioPlato}}</h4>
                                            <button ng-click="abrirModal(plato)" data-toggle="modal" data-target="#myModal">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>
                                    </div>
-->
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                
            <!--Detalle de pedido -->
            <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="sidebar affix detallePedido">
                        
                            <div class="well">
                                <header>
                                    <span>Pedido</span>
                                    <i class="fa fa-trash pull-right" ng-click="confirmarBorrar(pedido)" data-toggle="modal" data-target="#modalEliminar"></i>
                                </header>
                                <perfect-scrollbar wheel-propagation="false" wheel-speed="1" min-scrollbar-length="20" suppressScrollX="true" class="scrollContainer">
                                    
                                    
                                    
                                    
                                    <ul>
                                        
                                        <div class="emptyPedido" ng-show="empty">
                                            <i class="fa fa-cutlery fa-3x"></i>
                                            <p>¿Tenés hambre?</p>
                                            <b><p>Elegí lo que mas te guste</p></b>
                                        </div>
                                        
                                        
                                        <li class="lineDetail" ng-mouseover="hoverIn(detalle)" ng-mouseleave="hoverOut(detalle)" ng-repeat="detalle in listaDetallesPedido track by $index">
                                            <div class="detalleContainer">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="textPedido">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <p class="plateName">{{detalle.nombrePlato}}</p>
                                                                    <p class="plateAclaracion">{{detalle.aclaracionDetalle}}<p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="modificacionPedido">
                                                            <select class="form-control cantSelector" ng-model="detalle.cantidadDetalle" ng-options="c for c in cantidades">
                                                            </select>
                                                            <span ng-show="detalle.subMostrar">${{detalle.subtotalDetalle}} </span>
                                                            <i ng-show="detalle.eliminarMostrar" class="fa fa-times-circle eliminarProd" ng-click="eliminarUno(detalle)" ></i>
                                                        </div>   
                                                    </div>
                                                </div>
                                                
                                            </div>    
                                        </li>
                                    </ul>
                                </perfect-scrollbar>
                                <footer>
                                    <div class="totalDetalle">
                                        <p>Total: ${{calcularTotalPedido()}}</p>
                                    </div>
                                </footer>
                                
                                <div class="btns">
                                    <button class="btn btn-primary" ng-click="guardarPedido(listaDetallesPedido)">
                                        <i class="fa fa-floppy-o"></i>
                                            Guardar
                                    </button>
                                    <button class="btn btn-primary" ng-click="enviarPedido(listaDetallesPedido)">
                                        <i class="fa fa-paper-plane"></i>
                                            Enviar
                                    </button>
                                </div>
                                
                                
                            </div>
                        

                        
                    </div>
            </div>
        </div>



    <!-- Modal Pedido-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Agregar Plato al pedido  - {{platoModal.nombrePlato}}</h4>
          </div>
          <div class="modal-body">
            <h2>Detalle de Pedido</h2>
                <div class="row">
                  <div class="col-md-8 col-xs-12 col-lg-8">
                    <h4>Aclaración</h4>
                    <textarea class="form-control" ng-model="pedidoModal.aclaracionDetalle"></textarea>
                  </div>
                  <div class="col-md-4 col-sm-12 col-lg-4">
                    <h4>Cantidad</h4>
                    <select class="form-control cantSelect" ng-model="pedidoModal.cantidadDetalle">
                        <option ng-repeat="n in cantidades">
                          {{n}}                        
                        </option>
                    </select>
                    <h5>Subtotal:</h5>
                    <h5>${{calcularSubtotal(pedidoModal)}}</h5>
                  </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" ng-click="agregarPlatoPedido(pedidoModal)">Agregar</button>
          </div>
        </div>
      </div>
    </div>
        
    <!-- Modal eliminar-->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Atencion!</h4>
          </div>
          <div class="modal-body">
            <h1>¿Está seguro de borrar todos los platos agregados?</h1>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" ng-click="borrarTodos()">Si</button>
          </div>
        </div>
      </div>
    </div>
        
</div>

