<!DOCTYPE html>
<html ng-app="sitePumApp">
    <head>
        <meta charset="UTF-8">
        <title>Gestionar Pedido</title>
        <link rel="stylesheet" href="../resources/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../resources/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../resources/bower_components/fontawesome/css/font-awesome.css"></link>
    <link rel="stylesheet" href="../resources/css/modificacion.css"></link>
    </head>
<body ng-controller="pedidoController">
    <div class="container-fluid">
        <div class="nvar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                     <a class="navbar-brand" href="#">Pickupmeal</a>     
                </div>
                <div class="navbar-collapse collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="elegirNegocio.html">Elegir Negocio</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a >Usuario</a>                        
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contenido">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <div class="list-group">
                        <span href="#" class="list-group-item categorias">Categorias</span>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-search"></i> Pastas
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-search"></i> Parrilla
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-search"></i> Pizzas
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-search"></i> Empanadas
                        </a>
                        </div>        
                </div>
                <div class="col-md-8 col-sm-6"> <!--  -->
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="thumbnail">
                                <img src="../resources/"
                            </div>
                        </div>
                    </div>
                    <!--<div class="jumbotron">
                        <a>dsaas</a>                
                    </div>-->
                </div>
                <div class="col-md-2 col-sm-3">
                    <div class="list-group">
                        <span href="#" class="list-group-item pedidos5">asdasd</span>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>