<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Elegir Negocio</title>
    <link rel="stylesheet" href="../resources/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../resources/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../resources/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../resources/bower_components/fontawesome/css/font-awesome.css"></link>
    <link rel="stylesheet" href="../resources/css/modificacion.css"></link>
    <meta name="viewport" content="width=device-width">
    <script src="../resources/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
</head>
<body ng-app="myApp">
    <ng-view></ng-view>
    
    
    <script src="../resources/bower_components/angular/angular.min.js"></script>
    <script src="../resources/bower_components/angular-route/angular-route.js"></script>
    <script src="../resources/js/app/myApp.js"></script>
    <script src="../resources/js/services/pedidoService.js"></script>
    <script src="../resources/js/controllers/pedidoController.js"></script>
    
</body>
</html>