<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/pumdb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">hombreyentorno</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <!--property name="connection.autocommit">true</property>-->

        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->


        <!-- Clases entidades a las que mapea el hibernate -->
        <mapping class="backend.app.model.Categoria" />
        <mapping class="backend.app.model.Usuario" />
        <mapping class="backend.app.model.Pedido" />
        <mapping class="backend.app.model.DetallePedido" />
        <mapping class="backend.app.model.Menu" />
        <mapping class="backend.app.model.Plato" />
        <mapping class="backend.app.model.Negocio" />
    </session-factory>
</hibernate-configuration>